*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    /* position: relative; */
    background-color: red;
    height: 90vh;
    /* display: grid;
    grid-template-rows: repeat(24, 1fr);
    grid-template-columns: repeat(24, 1fr); */

}

.header{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: 90vh;
}
.text-center{
    display: grid;
}

.right{
    /* display: grid; */
    background-color: green;
    grid-column: 1/4;
    background-image: url("pic/header.jpg");
    background-position: center;
    background-size: cover;
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr); */
}
.left{
background-color: #222121;
grid-column: 4/7;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
}
/* font-family: 'Corinthia', cursive; */
/* font-family: 'Corinthia', cursive; */

.text{
    position: absolute;
    margin: 0 auto;
     top: 40%;
    right: 40.6%; 
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to right, #202020 45%,#cac8c8 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome{
    font-family: 'Corinthia', cursive;
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 52px;
    color: #fff;
}
.prag{
    font-family: 'Corinthia', cursive;
    grid-column: 3/5;
    grid-row: 3/4;
    font-weight: normal;
    font-size: 1.3rem ;
    color: #fff;
}
.btn{
    grid-column: 3/4;
    grid-row: 4/5;
    align-self: center;
    padding: 9px;
    color: white;
    background-color: rgb(44, 44, 252);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}
.btn:hover {
    color: rgb(44, 44, 252);
    background-color: white;
}